DISCORD_TOKEN=
SYNC_COMMANDS_ON_START=true

RENDERER_URL=http://tts-worker:8080
DATABASE_PATH=/data/talkmodachi.sqlite3

TALKMODACHI_WORKER_ROMS=US
TALKMODACHI_US_WORKERS=1
TALKMODACHI_RENDER_TIMEOUT=20
TALKMODACHI_POLL_INTERVAL=0.01
TALKMODACHI_MAX_INFLIGHT_RENDERS=32
TALKMODACHI_ENGINE_VERSION=talkmodachi-v1

# Put patched ROMs in ./roms with these names:
# US.cxi
# EU.cxi
# JP.cxi
# KR.cxi
